*{
	margin: 0vh;
	color: #00e59b;
}
header{
	position: fixed;
	background: rgba(0,0,0,0.9);
	height: 8vh;
	width: 100%;
	padding-left: 10vh;
	padding-top: 2vh;
	box-shadow: 0px 5px 18px #2F4F4F;
}
.intro-container{
	padding: 45vh 0vh;
	font-size: 3vh;
	text-align: center;
}
.main-container{
	padding: 2%;
	background-image: linear-gradient(rgb(47,79,79),black, black);
}
.main-container hr{
	width: 100%;
}
.section-wrapper::after {
  content: "";
  clear: both;
  display: table;
  margin: 15vh 0vh;
}
.section-wrapper h1{
	text-align: center;
	margin: 2vh;
	color: white;
}
.details img{
	opacity: 0.4;
	height: 40vh;
	float: left;
	width: auto;
	margin-left: 1vh;
	margin-top: 1vh;
}
.details img:hover{
	cursor: pointer;
	opacity: 1;
}

.contact-me{
	text-align: center;
}
.contact-me p{
	color: white;
}
.contact-me img{
	margin-left: 2vh;
	margin-bottom: 3vh;
	margin-top: 1vh;
	opacity: 50%;
}
.contact-me img:hover{
	opacity: 100%;
}
